@model IEnumerable<DAL.Context.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
            </tr>
        }

    </tbody>
</table>
