
<div class="row">

    <div class="col-md-4">

        <img src="~/Files/file..jpg"  height="200"/>

    </div>
    <div class="col-md-4">
        <img src="~/Files/File2..jpg" height="200"/>
    </div>
    <div class="col-md-4">
        <img src="~/Files/file3..jpg" height="200"/>
    </div>


</div>


