@using InternetShop.WebUI.Models
@model GoodsListViewModel

@{
    ViewBag.Title = "Goods";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "goods"
    };
}

<h2>Goods</h2>

<div class="d-flex my-1 justify-content-center">
    @for (int i = 0; i < Model.PagingInfo.TotalPages; i++)
    {
        @Ajax.ActionLink((i + 1).ToString(),
       "GoodSummary",
       "Good",
       new
            {
                category = Model.CurrentCategory,
                manufacturer = Model.CurrentManufacturer,
                page = i + 1
            },
       options,
       new { @class = "btn btn-success mx-1 my-2" })
    }
</div>

<div id="goods" class="mx-auto">

    @{Html.RenderPartial("GoodSummary", Model.Goods);}

</div>

