

<table class="table">
    <thead>
        <tr><th>Name</th><th>Last Name</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastName</td>
            </tr>
        }
    </tbody>
</table>