
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table border="1" class="table" style="width:260px; text-align:center">

    <tr>
        <td colspan="3">
            @Html.TextBox("Result", 0, new { style = "width:100%; text-align:right" })
        </td>

        <td></td>
    </tr>
    <tr>
        <td>
            <input type="button" id="id7" value="7" />
        </td>

        <td>
            <input type="button" id="id8" value="8" />
        </td>
        <td>
            <input type="button" id="id9" value="9" />
        </td>
        <td>
            <input type="button" id="idsub" value="/" />
        </td>

    </tr>
    <tr>
        <td>
            <input type="button" id="id4" value="4" />
        </td>

        <td>
            <input type="button" id="id5" value="5" />
        </td>
        <td>
            <input type="button" id="id6" value="6" />
        </td>
        <td>
            <input type="button" id="idmul" value="*" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="id1" value="1" />
        </td>

        <td>
            <input type="button" id="id2" value="2" />
        </td>
        <td>
            <input type="button" id="id3" value="3" />
        </td>
        <td>
            <input type="button" id="idsub" value="-" />
        </td>
    </tr>

</table>